1 ./Shotlogs/MGL1806OB01.shotlog ./NetworkInformation/Hawaii.txt
2 ./Shotlogs/MGL1806OB02_all.shotlog ./NetworkInformation/Hawaii.txt
3 ./Shotlogs/MGL1902OB01.shotlog ./NetworkInformation/ZU_north_stations.txt
4 ./Shotlogs/MGL1902OB02.shotlog ./NetworkInformation/ZU_north_stations.txt
5 ./Shotlogs/MGL1903.shotlog ./NetworkInformation/AACSE.txt
6 ./Shotlogs/OBS001.shotlog ./NetworkInformation/ENAM.txt
7 ./Shotlogs/OBS01A.shotlog ./NetworkInformation/ENAM.txt
8 ./Shotlogs/OBS01B.shotlog ./NetworkInformation/ENAM.txt
9 ./Shotlogs/obs02.shotlog ./NetworkInformation/ENAM.txt
10 ./Shotlogs/OBS003.shotlog ./NetworkInformation/ENAM.txt
11 ./Shotlogs/OBS04A.shotlog ./NetworkInformation/ENAM.txt
12 ./Shotlogs/OBS04B.shotlog ./NetworkInformation/ENAM.txt
13 ./Shotlogs/LMalawi_allshots_obsip_1june15.shotlog ./NetworkInformation/LMalawi.txt
14 ./Shotlogs/MGL1110OBS03.shotlog ./NetworkInformation/ALEUT.txt
15 ./Shotlogs/MGL1110OBS05.shotlog ./NetworkInformation/ALEUT.txt
16 ./Shotlogs/MGL1305.phase1.shotlog ./NetworkInformation/Rainbow.txt
17 ./Shotlogs/MGL1204.shotlog ./NetworkInformation/Marianas.txt
18 ./Shotlogs/AB.shotlog ./NetworkInformation/Lau.txt
19 ./Shotlogs/MGL2204.shotlog ./NetworkInformation/Guerrero.txt
20 ./Shotlogs/MGL0910.shotlog ./NetworkInformation/ETOMO.txt
21 ./Shotlogs/MGL2003OBD1_all.shotlog ./NetworkInformation/Andreanof.txt
22 ./Shotlogs/MGL2003OBS1_all_extended.shotlog ./NetworkInformation/Andreanof.txt
23 ./Shotlogs/MGL1211.shotlog ./NetworkInformation/R2T.txt
24 ./Shotlogs/MGL1521.shotlog ./NetworkInformation/Santorini.txt
25 ./Shotlogs/MGL2104.shotlog ./NetworkInformation/CASIE.txt
26 ./Shotlogs/MGL1004.shotlog ./NetworkInformation/Shatsky.txt
27 ./Shotlogs/MGL1115.shotlog ./NetworkInformation/NoMelt.txt
28 ./Shotlogs/MGL0808.shotlog ./NetworkInformation/Gofar.txt
29 ./Shotlogs/MGL2150.shotlog ./NetworkInformation/QCF.txt #needs password
